---
import Default from "@astrojs/starlight/components/TableOfContents.astro";
import StarlightViewModesTableOfContents from "starlight-view-modes/components/TableOfContents.astro";
import CreditReferenceCard from "starlight-cooler-credit/components/CreditReferenceCard.astro";
---

<Default><slot /></Default>
<StarlightViewModesTableOfContents />
<div class="starlight-table-of-contents-wrapper-container">
  <CreditReferenceCard />
</div>

<style>
  .starlight-table-of-contents-wrapper-container {
    margin-top: 1rem;
  }
</style>

<style is:global>
  @media (min-width: 72rem) {
    .right-sidebar-panel {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
    .right-sidebar-panel > .sl-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }
  }
</style>
