.math.math-inline svg {
    display: inline;
}

svg.inline {
    display: inline;
    transform: translateY(0.2em);
}

html[data-theme="light"] .dark-only {
    display: none;
}

html[data-theme="dark"] .light-only {
    display: none;
}
