@media print {
    .header,
    #starlight__sidebar,
    .right-sidebar-container,
    footer {
        display: none;
    }

    .main-frame {
        padding-inline-start: 0;
        padding-top: 0;
    }

    .main-pane {
        width: 100%;
        --sl-content-margin-inline: unset;
    }

    .sl-container {
        --sl-content-width: 100%;
    }
}
